/* AfacadFlux */
@font-face {
  font-family: 'AfacadFlux';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppins-Medium.ttf") format('woff2');
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppins-Medium.ttf") format('woff2');
}

/* Helvetica */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/helvetica-light.ttf") format('woff2');
}

/* Acumin Variable Concept */
@font-face {
  font-family: 'Acumin';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Acumin-Variable-Concept.ttf") format('woff2');
}